{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Management{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-800 ">
    <nav class="bg-green-700 text-white px-6 py-4">
        <div class="container mx-auto flex justify-between">
            <div class="font-bold text-xl">Event Manager</div>
            <div class="space-x-4">
                <a href="/" class="hover:underline">Events</a>
                <a href="/dashboard/" class="hover:underline">Dashboard</a>
                <a href="/search/" class="hover:underline">Search</a>
            </div>
        </div>
    </nav>

    <main class="container mx-auto py-6 px-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
